@import "tailwindcss";

@theme {
  --font-serif: var(--font-mono), ui-monospace, monospace;
  --font-sans: var(--font-mono), ui-monospace, monospace;
  --font-mono: var(--font-mono), ui-monospace, monospace;
}
